<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Introduction</title>

  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

</head>

<body>

  <header></header>
  <div class = "container">
    <div></div>

    <div class = "main">

      <div class = "form">
        <form action="/departments" method="post" enctype="multipart/form-data">
          <label for="fname">Login:</label><br>
          <input type="text" id="login" name="login"><br><br>
          <label for="lname">Hasło:</label><br>
          <input type="password" id="password" name="password"><br><br>
          <div class = "btndiv">
            <input class= "btn" type="submit" value="> Zaloguj" >
          </div>
        </form>
      </div>
      
    </div>

    <div></div>

  </div>



</body>

</html>