<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


</head>
<body>

    <div id="app">
        <p v-if="counter===3">{{message}}</p>
        {{counter}}
        <br>

        <button v-on:click="increaseCounter">+</button>
        <button v-on:click="decreaseCounter">-</button>

        <ul>
            <li v-for="user in users">{{user.name}}</li>
        </ul>



    </div>
    
    <script src="Vue.js"></script>
</body>
</html>